::-webkit-scrollbar-track {
  margin-right: 12px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 12px; 
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #D6E3FF;
}

#--cabecalho-vermelho {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(260, 70, 70);
}

.letras--meio {
  text-align: center;
  font-size: 40px;
}

.itens {
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 10px; 
}

#caixas-doce {
  text-align: center;
  height: 200px;
  width: auto;
}

body {
  text-align: center;
  margin: 0;
  padding-bottom: 60px;
}

.botao {
  display: inline-block;
  padding: 1rem 1.75rem;
  border-radius: 10rem;
  color: #000000;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 1.5s;
}

.botao:hover {
  color: #ffffff;
  background-color: #000000;
  transition: all 1.5s;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-container {
  flex-basis: 50%;
  font-size: 26px;
  margin-right: 20px;
  font-weight: bold;
}

.image-container {
  flex-basis: 50%;
  text-align: center;
}

.horta-h img {
  width: 300px;
  height: auto;
}

.caixa--horta {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box-h {
  text-align: center;
}

.horta--imagem {
  max-width: 100%;
  height: auto;
}

footer{
  background-color: #333;
  color: #999;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
.caixa--horta {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.caixa--horta h1 {
  color: #333333;
  margin-bottom: 30px;
}

.box-h {
  display: inline-block;
  width: 200px;
  margin: 15px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.imagem--produto {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.box-h h2 {
  color: #666666;
  margin-top: 10px;
}