body {
  text-align: center;
  margin: 0;
  padding-bottom: 60px;
}  

footer {
  background-color: #333;
  color: #999;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

#--cabecalho-vermelho {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(260, 70, 70);
}    

#caixas-doce {
  text-align: center;
  height: 200px;
  width: auto;
}    

.letras--meio {
  text-align: center;
  font-size: 40px;
}      

.itens {
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 10px; 
}      

.botao {
  margin: 20px 0;
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #000000;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}  

.botao:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color;
  border-radius: 10rem;
  z-index: -2;
}  

.botao:before {
  padding: 10px;
}  

.botao:hover {
  color: #ffff;
  background-color: #000000;
}  

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}  

.text-container {
  flex-basis: 50%;
  font-size: 26px;
  margin-right: 20px;
  font-weight: bold;
}  

.image-container {
  flex-basis: 50%;
  text-align: center;
}  

.caixa--horta {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.horta--titulo {
  color: #333333;
  margin-bottom: 30px;
}

.box-h {
  display: inline-block;
  width: 200px;
  margin: 15px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.imagem--produto {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.horta--produto-nome {
  color: #666666;
  margin-top: 10px;
}

.image-container {
  flex-basis: 50%;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  width: 500px;
  display: block;
  margin: 0 auto;
}

.separacao{
  margin-top: 40px;
}