::-webkit-scrollbar-track {
  margin-right: 12px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 12px; 
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #D6E3FF;
}

  #--cabecalho-vermelho{
      background-color: rgb(260, 70, 70);
  }

  .letras--meio{
      text-align: center;
      font-size: 40px;
  }

.itens {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 10px; 
}

#caixas-doce{
  text-align: center;
  height: 200px;
  width: auto;
}

body{
  text-align: center;
}

footer{
  background-color: #333;
  color: #999;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.botao {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #000000;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    padding: 10px; 
  }
  &:hover{
    color: #ffff;
    background-color: #000000;
  }
}

.imagens--produtos{
  height: 150;
  width: 150;
}