/* celulares hj */
@media screen and (max-width: 480px) {
    body {
        background-color: black;
        color: white;
    }

    .banner {
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .banner img {
        max-width: 100%;
        height: auto;
    }
    
    .margin-top{
        margin-top: 25px;
    }
}

/* Para computadores*/
@media screen and (min-width: 768px){}
/*Para Tablets em um futuro tão tão distante */
@media screen and (max-width: 767px){}