body{
    background-color: black;
    color: white;
}
.banner {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.banner img {
    max-width: 100%;
    height: auto;
}